#work-detail {
  padding: 50px 0;
  margin-top: 106px;
}

#work-detail .container {
  width: 856px;
  margin: 0 auto;
}

#work-detail .container .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#work-detail .container .heading h1 {
  font-size: 34px;
  font-weight: bold;
}

#work-detail .container .meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

#work-detail .container .meta p {
  margin: 0;
}

#work-detail .container .meta .year {
  padding: 5px 10px;
  background-color: #ff7c7c;
  color: #ffffff;
  margin-right: 26px;
  border-radius: 16px;
  font-weight: black;
  font-size: 18px;
}

#work-detail .container .meta .type {
  color: #21243d;
  font-size: 20px;
}

#work-detail .container .excerpt {
  margin-top: 23px;
  margin-bottom: 46px;
}

#work-detail .container .img-container {
  text-align: center;
  margin-top: 15px;
}

#work-detail .container .img-container img {
  max-width: 100%;
  height: auto;
}

#work-detail .container h2 {
  margin-top: 54px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: #21243d;
}

#work-detail .container h3 {
  font-size: 24px;
  font-weight: 700;
  color: #21243d;
}

#work-detail .container p {
  margin: 30px 0;
}

@media (max-width:768px) {
  #work-detail {
    padding: 24px;
    margin-top: 74px;
  }

  #work-detail .container {
    width: 100%;
  }

  #work-detail .container .heading h1 {
    font-size: 30px;
  }

  #work-detail .container .meta {

    margin-top: 23px;
  }

  #work-detail .container .excerpt {
    margin-top: 0;
    margin-bottom: 23px;
  }

  #work-detail .container .excerpt p {
    margin: 23px 0;
  }

  #work-detail .container h2 {
    margin-top: 23px;
    margin-bottom: 20px;
    font-size: 26px;
  }

  #work-detail .container h3 {
    font-size: 20px;
  }
}