// _variables.scss
$primary-color: #21243d;
$accent-color: #8695a4;
$highlight-color: #ff6464;
$background-color: #edf7fa;
$shadow-color: rgba(187, 225, 250, 0.25);

$base-font-family: "Heebo", sans-serif;
$heading-font-size: 44px;
$meta-font-size: 20px;
$paragraph-margin: 30px;

$seperator-color: #000000;
$archive-font-size: 20px;
$meta-color: #21243d;
$tags-color: $accent-color;
$excerpt-color: $primary-color;

$blog-title-font-size: 30px;
