* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

footer {
  padding: 54px 0;
}

footer .container {
  margin: 0 auto;
  text-align: center;
}

footer .container .social-links {
  margin-bottom: 26px;
}

footer .container .social-links a {
  text-decoration: none;
  margin-right: 35px;
}

footer .container .social-links a:last-child {
  text-decoration: none;
  margin-right: 0;
}

footer .container p {
  color: #21243D;
  font-size: 14px;
}